.body {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.calculator {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background-color: lightgrey;
    border: 5px solid;
    padding-bottom: 10px;
}

.display {
    display: flex;
    font-size: 40px;
    color:black;
    border: 5px rgb(241, 241, 241) solid;
    justify-content: right;
    background-color: white;
    margin: 10px
}

.buttons {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

#button, #buttonOperate {
    display: flex;
    font-size: 20px;
    justify-content: center;
    width: 100%;
    padding: 20px;
    margin: 10px
}

