.body {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.calculator {
    background-color: lightgrey;
    border: 5px solid;
    padding-bottom: 10px;
}

.display {
    font-size: 50px;
    color:black;
    border: 5px rgb(241, 241, 241) solid;
    text-align: right;
    background-color: white;
    margin: 10px;
    padding: 30px;
    height: 30px;
}

.buttons {
    display: flex;
    padding: 5px;
    justify-content: space-around;
    gap: 10px;
}

.button, 
#buttonOperate, 
#buttonClear, 
#buttonEqual {
    display: flex;
    font-size: 20px;
    border-radius: 15px;
    justify-content: center;
    width: 100%;
    padding: 30px;
    margin: 10px
}

#buttonOperate, 
#buttonEqual {
    background-color: rgb(238, 130, 58);
}

#buttonClear {
    background-color:rgb(223, 180, 151)
}
